[submodule "unifiedparsing"]
	path = unifiedparsing
	url = git@github.com:jamesdunn/unifiedparsing.git
[submodule "LAStools"]
	path = LAStools
	url = git@github.com:jamesdunn/LAStools.git
[submodule "Open3D-PointNet2-Semantic3D"]
	path = Open3D-PointNet2-Semantic3D
	url = git@github.com:jamesdunn/Open3D-PointNet2-Semantic3D.git
